.navbar {
  border-top: 4px solid black;
  border-bottom: 1px solid #d9d9d9;
  background: white;
}
.navbar-brand {
  margin-left: 20px;
}
.navbar ul {
  margin-left: 120px;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}
.middle {
  width: 30%;
  margin: 0 auto;
}
#logo {
  height: 65px;
  width: 65px;
}
.everything {
  margin-top: 90px;
}
.side-nav {
  margin: 0;
  padding: 0;
  font-size: 11.5px;
  letter-spacing: 1px;
  position: fixed;
}
#navLeft {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 240px;
  height: 100vh;
  background-color: #FFFFFF;
  position: absolute;
  border-right: 1px #d9d9d9 solid;
}
#navRight {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 180px;
  height: 100vh;
  background-color: #FFFFFF;
  border-left: 1px #d9d9d9 solid;
}
.side-nav ul li {
  display: block;
  margin: 10px 0;
}
.sideInner {
  width: 180px;
  margin: 0 auto;
}
#navRight .sideInner {
  width: 140px;
}
.body {
  margin-left: 240px;
  margin-right: 180px;
}
.carousel-container {
  width: 100%;
  display: block;
  height: 35vw;
}
.carousel {
  width: 75.3%;
  height: 100%;
  float: left;
}
.rightOfCarousel {
  width: 24.7%;
  float: left;
  height: 100%;
}
.rightOfCarousel img {
  width: 100%;
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
.carousel-item {
  height: 100%;
}
.carousel-item img {
  height: 100%;
}
.threePhotos {
  margin: 40px 0;
}
.threePhotos .row .col-md-4 {
  margin: 0;
  padding: 0;
}
.threePhotos img {
  height: 100%;
}
.break {
  text-align: center;
  padding: 20px 0;
}
.break h5 {
  font-weight: 400;
}
.break p {
  font-size: 13px;
  color: #a7662b;
}
