.middle {
  width: 30%;
  margin: 0 auto;
}
#logo {
  height: 65px;
  width: 65px;
}
.side-nav {
  margin: 0;
  padding: 0;
  font-size: 11.5px;
  letter-spacing: 1px;
}
#navLeft {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 240px;
  height: 100vh;
  background-color: #FFFFFF;
  position: absolute;
  border-right: 1px black solid;
}
#navRight {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 180px;
  height: 100vh;
  background-color: #FFFFFF;
  border-left: 1px black solid;
}
.side-nav ul li {
  display: block;
  margin: 10px 0;
}
.sideInner {
  width: 180px;
  margin: 0 auto;
}
#navRight .sideInner {
  width: 140px;
}
.body {
  margin-left: 240px;
  margin-right: 180px;
}
.carousel {
  width: 80%;
  float: left;
}
.rightOfCarousel {
  width: 20%;
  float: left;
}
.rightOfCarousel img {
  width: 100%;
}
.carousel-inner {
  height: auto;
  max-height: 700px;
}
.carousel-item img {
  height: auto;
  max-height: 700px;
}
